body {
    background-color: lightblue;
    font-family: Arial;
    margin: 0px;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#game {
    position: absolute;
    background: aqua;
    /* height: 100%; */
    /* width: 100%; */
    display: block;
    z-index: -1;
}

#lvlJson {
    background-color: wheat;
    position: fixed;
    width: 25%;
    left: -6650px;
    top: 5px;
    display: block;
}

.Entity {
    background-color: red;
    position: absolute;
}