body {
    background-color: lightblue;
    font-family: Arial;
    margin: 0px;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#game {
    position: absolute;
    background: aqua;
    /* height: 100%;
    width: 100%; */
}

.Entity {
    background-color: red;
    position: absolute;
}